# Creates:
# - A Route53 resource for the VPC
# - An NS record in the parent domain pointing to the  resource


# Create a resource
resource "aws_route53_zone" "resource" {
  comment = "Managed by Terraform"
  name    = "${var.name}"
}

# Create NS records for the resource in the parent domain
resource "aws_route53_record" "resource_ns" {
  name    = "${var.name}"
  ttl     = "300"
  type    = "NS"
  zone_id = "${var.parent_zone_id}"
  records = [
    "${aws_route53_zone.resource.name_servers.0}",
    "${aws_route53_zone.resource.name_servers.1}",
    "${aws_route53_zone.resource.name_servers.2}",
    "${aws_route53_zone.resource.name_servers.3}"
  ]
}
