# Create a CIDR route to a gateway resource on a route table

resource "aws_route" "resource" {
  destination_cidr_block = "${var.destination_cidr_block}"
  nat_gateway_id         = "${var.nat_gateway_id}"
  route_table_id         = "${var.route_table_id}"
}
