# '{{ tpl_resource.root_name }}' module (resource wrapper) {{ ansible_managed }}
# module name: {{ tpl_resource.root_name }}
# wrapped resource: {{ tpl_resource.meta.name }}
{% if not tpl_resource.static %}
{% for nvars in [tpl_resource.variables, tpl_resource.env_vars] %}
  {%- for key, value in nvars.iteritems() %}

variable "{{ tpl_resource.root_name_underscore }}_{{ key }}" {
    {%- if value.type is defined %} type = "{{ value.type }}"{%- endif %} }
  {%- endfor %}
{% endfor %}
{% endif %}



{% set pad_length = 40 %}
module "{{ tpl_resource.root_name }}" {
  source {{ ' ' * (pad_length - 7) }} = "{{ tpl_resource.path_to_resource }}"
{% for nvars in [tpl_resource.variables, tpl_resource.env_vars, tpl_resource.external_vars] %}
  {%- for key, value in nvars.iteritems() %}
    {%- set is_list = (value.type is defined and value.type == 'list') %}

  {{ key }}{{ ' ' * (pad_length - (key | length)) }} =
    {%- if is_list %} [{%- endif %}
    {%- if key not in tpl_component.provides %}
      {%- if tpl_resource.static %}
        {%- if is_list %}
          {%- for value in tpl_resource_vars[key] %} "{{ value }}",{%- endfor %}
        {%- else %}
 "{{ tpl_resource_vars[key] }}"
        {%- endif %}
      {%- else %}
 "${var.{{ tpl_resource.root_name_underscore }}_{{ key }}}"
      {%- endif %}
    {%- else %}

      {%- set reference = tpl_component.provides[key] %}
      {#- if not is_list %}{%- set reference = [reference] %}{%- endif #}
      {%- set reference = [reference] %}

      {%- for entry in reference %} "${
        {#- remote state var names reference module output vars as defeind at the end of this file #}
        {%- if entry.provider in tpl_component.needs.remote_states %}data.terraform_remote_state.
        {#- when referencing a module var the name is: module.<module_name>.<module's_wrapped_resource_output_name> #}
        {%- else %}module.{{ tpl_component.lib.dash }}-
        {%- endif %}{{ entry.provider }}.{{ entry.name | default(key) }}}"
        {%- if is_list %},{%- endif %}
      {%- endfor %}

    {%- endif %}
    {%- if is_list %} ]{%- endif %}
  {%- endfor %}
{%- endfor %}

}
{% if (tpl_resource.output_vars | length) > 0 %}

# Output vars are consumed when referenced by a remote_state
# TODO: put an example of the exact string that could be here using the app.dir
# A remote_state is used from outside this component to get the values outputted below
# The output var name is the resource name _ the resource's variable name
# The output value is the module_name . the resource's variable name
{% for key, value in tpl_resource.output_vars.iteritems() %}
  {%- set is_list = (value.type is defined and value.type == 'list') %}

# module name: {{ tpl_resource.root_name }}   wrapped resource: {{ tpl_resource.name }}   resource output var name: {{ key }}
output "{{ tpl_resource.name }}_{{ key }}" {
  description = "{{ value.description }}"
  value       = {% if is_list %}[ {% endif %}"${module.{{ tpl_resource.root_name }}.{{ key }}}"{% if is_list %} ]{% endif %}

}
{% endfor %}
{% endif %}
