terragrunt = {
  # Configure Terragrunt to automatically store tfstate files in an S3 bucket
  remote_state {
    backend = "s3"
    config {
      bucket = "{{ terraform_remote_state.bucket }}"
      encrypt = true
      key = "{{ terraform_service }}/${path_relative_to_include()}/terraform.tfstate"
      # dynamodb_table = "terraform-lock-table"
      region = "{{ terraform_remote_state.region }}"
    }
  }
  # terraform {
  #   extra_arguments "secrets" {
  #     arguments = [
  #       "-var-file=${get_parent_tfvars_dir()}/{{ terraplate.credentials_path }}/terraform-creds.tfvars",
  #     ]
  #     commands  = ["${get_terraform_commands_that_need_locking()}"]
  #   }
  # }
}
