# Grant the VPC internet access on its main route table

resource "aws_route" "resource" {
  route_table_id         = "${var.route_table_id}"
  destination_cidr_block = "${var.destination_cidr_block}"
  gateway_id             = "${var.igw_id}"
}
