# '{{ resource_name }}' signature {{ ansible_managed }}

{% set env_vars = resource.env_vars | default({}) %}
{% set variables = resource.variables | default({}) %}
{% set external_vars = resource.external_vars | default({}) %}
{% set output_vars = resource.output_vars | default({}) %}

### Variables
{% for nvars in [variables, env_vars, external_vars] %}
{% for key, value in nvars.iteritems() %}

variable "{{ key }}" {
  description = "{{ value.description }}"
{% if value.type is defined %}
  type = "{{ value.type }}"
{% endif %}
}
{% endfor %}
{% endfor %}
{% if (output_vars | length) > 0 %}


### Outputs
{% for key, value in output_vars.iteritems() %}

output "{{ key }}" {
  description = "{{ value.description }}"
  value = "{{ '${' + value.value }}}"
}
{% endfor %}
{% endif %}
