# Create a Customer Gateway

resource "aws_customer_gateway" "resource" {
  bgp_asn    = "${var.bgp_asn}"
  ip_address = "${var.ip_address}"
  tags       = "${var.tags}"
  type       = "${var.type}"
}
