# Create a VPC into which resources are provisioned

resource "aws_vpc" "resource" {
  # Required
  cidr_block = "${var.cidr_block}"

  # Optional
  instance_tenancy = "${var.instance_tenancy}"
  tags {
    Name = "${var.tag_name}"
  }
}
