terragrunt = {
  # Configure Terragrunt to automatically store tfstate files in an S3 bucket
  remote_state {
    backend = "s3"
    config {
      bucket = "{{ package.remote_state.bucket }}"
      encrypt = true
      key = "${path_relative_to_include()}/terraform.tfstate"
      lock_table = "terraform-lock-table"
      region = "{{ package.remote_state.region }}"
    }
  }
}
