# Creates an S3 Bucket as a website

resource "aws_s3_bucket" "resource" {
  acl           = "${var.acl}"
  bucket        = "${var.bucket}"
  force_destroy = "${var.force_destroy}"
  # policy        = "${data.aws_iam_policy_document.app.json}"
  policy        = "${var.policy}"
  region        = "${var.region}"

  website {
    index_document = "index.html"
    error_document = "index.html"
  }
}
