# Create a Security Group in a VPC

resource "aws_security_group" "resource" {
  name        = "${var.name}"
  description = "${var.description}"
  tags        = "${var.tags}"
  vpc_id      = "${var.vpc_id}"
}
