# Create a Route53 record mapped ot an EC2 EIP

resource "aws_route53_record" "resource" {
  zone_id = "${var.zone_id}"
  name    = "${var.name}"
  type    = "${var.type}"
  ttl     = "${var.ttl}"
  records = ["${var.public_ip}"]
}
