# Create a new alb-target-group-attachment

resource "aws_alb_target_group_attachment" "resource" {
  port             = "${var.port}"
  target_group_arn = "${var.target_group_arn}"
  target_id        = "${var.target_id}"
}
