# '{{ module_meta.ns }}-{{ module_meta.name }}' component {{ ansible_managed }}
{% set root_name = module_meta.ns + '-' + module_meta.name %}
{% set root_name_underscore = (root_name | replace('-', '_')) %}
{% set pad_length = 40 %}
{% if env_vars is not defined %}{% set env_vars = {} %}{% endif %}
{% if external_tfvars is not defined %}{% set external_tfvars = {} %}{% endif %}

{% for nvars in [variables, env_vars, external_vars] %}
{% for key, value in nvars.iteritems() %}
{% if key not in external_tfvars %}
variable "{{ root_name_underscore }}_{{ key }}" {
{%- if value.type is defined %} type = "{{ value.type }}" {% endif %}}
{% endif %}
{% endfor %}
{% endfor %}


module "{{ root_name }}" {
  source {{ ' ' * (pad_length - 7) }} = "{{ resource_path }}"

{% for nvars in [variables, env_vars, external_vars] %}
  {%- for key, value in nvars.iteritems() %}
    {%- set key_pad = key + (' ' * (pad_length - (key | length))) %}
    {%- if key not in external_tfvars %}

  {{ key_pad }} = "${var.{{ root_name_underscore }}_{{ key }}}"
    {%- else %}
      {%- set reference = external_tfvars[key] %}
      {%- if reference.provider in provision.remote_states %}

  {{ key_pad }} = "${data.terraform_remote_state.{{ reference.provider }}.{{ reference.name | default(key) }}}"
      {%- else %}

  {{ key_pad }} = "${module.{{ reference.provider }}.{{ reference.name | default(key) }}}"
      {%- endif %}
    {%- endif %}
  {%- endfor %}
{%- endfor %}

}
{#
{% if value.reference is iterable and value.reference is not string %}
  {{ key_pad }} = [{% for xvalue in value.reference %}"{{ reference }}.{{ xvalue }}}",{% endfor %}]
{% elif value.reference.split('.') | length == 1 %}
  {{ key_pad }} = "{{ reference }}.{{ value.reference }}.{{ key }}}"
{% else %}
  {{ key_pad }} = "{{ reference }}.{{ value.reference }}}"
{% endif %}
#}
{% for key, value in output_vars.iteritems() %}

output "{{ root_name_underscore }}_{{ key }}" {
  description = "{{ value.description }}"
  value       = "${module.{{ root_name }}.{{ key }}}"
}
{% endfor %}
