### Remote Data Sources

variable "remote_state_bucket" {}
variable "remote_state_region" {}

{% for key, value in remote_states.iteritems() %}
variable "remote_state_key_{{ key }}" {}
{% endfor %}

{% for key, value in remote_states.iteritems() %}

data "terraform_remote_state" "{{ key }}" {
  backend = "s3"
  config {
    bucket = "${var.remote_state_bucket}"
    key    = "${var.remote_state_key_{{ key }}}/terraform.tfstate"
    region = "${var.remote_state_region}"
  }
}
{% endfor %}
