# '{{ resource_meta_i.name }}' signature {{ ansible_managed }}

{% if env_vars is not defined %}{% set env_vars = {} %}{% endif %}

### Variables
{% for nvars in [variables, env_vars, external_vars] %}
{% for key, value in nvars.iteritems() %}

variable "{{ key }}" {
  description = "{{ value.description }}"
{% if value.type is defined %}
  type = "{{ value.type }}"
{% endif %}
}
{% endfor %}
{% endfor %}


### Outputs
{% for key, value in output_vars.iteritems() %}

output "{{ key }}" {
  description = "{{ value.description }}"
  value = "{{ '${' + value.value }}}"
}
{% endfor %}
