### Providers

variable "aws_access_key_id" {}
variable "aws_secret_access_key" {}
variable "region" {}

provider "aws" {
  access_key = "${var.aws_access_key_id}"
  secret_key = "${var.aws_secret_access_key}"
  region = "${var.region}"
}

terraform {
  # The configuration for this backend will be filled in by Terragrunt
  backend "s3" {}
}
{% if terraplate_component.vars.remote_states is defined %}


### Remote Data Sources

variable "remote_state_bucket" {}
variable "remote_state_region" {}

{% for key, value in terraplate_component.vars.remote_states.iteritems() %}
variable "remote_state_key_{{ key | replace('-', '_') }}" {}
{% endfor %}

{% for key, value in terraplate_component.vars.remote_states.iteritems() %}

data "terraform_remote_state" "{{ key }}" {
  backend = "s3"
  config {
    bucket = "${var.remote_state_bucket}"
    key    = "${var.remote_state_key_{{ key | replace('-', '_') }}}/terraform.tfstate"
    region = "${var.remote_state_region}"
  }
}
{% endfor %}
{% endif %}
