# Backend Configuration - required by Terraform; supplied by Terragrunt
terraform {
  backend "s3" {}
}

{% set providers = tpl_component.needs.providers | default({}) %}
{% set remote_states = tpl_component.needs.remote_states | default({}) %}
{% if (providers | length) > 0 %}
### Providers
{% for provider in providers %}
# {{ provider }}
{% for key in tpl_service.providers[provider] %}
variable "provider_{{ provider }}_{{ key | replace('-', '_') }}" {}
{% endfor %}

provider "{{ provider }}" {
{% for key in tpl_service.providers[provider] %}
  {{ key }} = "${var.provider_{{ provider }}_{{ key }}}"
{% endfor %}
}

{% endfor %}
{% endif %}
{% if (remote_states | length) > 0 %}

### Remote Data Sources
{% for provider in remote_states %}
# {{ provider }}
variable "remote_state_{{ provider | replace('-', '_') }}_bucket" {}
variable "remote_state_{{ provider | replace('-', '_') }}_key" {}
variable "remote_state_{{ provider | replace('-', '_') }}_region" {}

data "terraform_remote_state" "{{ provider }}" {
  backend = "s3"
  config {
    bucket = "${var.remote_state_{{ provider | replace('-', '_') }}_bucket}"
    key    = "${var.remote_state_{{ provider | replace('-', '_') }}_key}/terraform.tfstate"
    region = "${var.remote_state_{{ provider | replace('-', '_') }}_region}"
  }
}
{% endfor %}
{% endif %}
