# Creates an ELB to handle SSL and forwrard the requests

resource "aws_elb" "resource" {
  cross_zone_load_balancing = "${var.cross_zone_load_balancing}"
  name                      = "${var.name}"
  security_groups           = ["${var.security_group_id}"]
  subnets                   = ["${var.subnet_id}"]

  listener {
    instance_port      = 3000
    instance_protocol  = "http"
    lb_port            = 443
    lb_protocol        = "https"
    ssl_certificate_id = "${var.server_cert_arn}"
  }

  health_check {
    healthy_threshold   = 10
    unhealthy_threshold = 2
    timeout             = 5
    # target            = "HTTP:8000/"
    target              = "TCP:3000"
    interval            = 30
  }

  tags {
    Name        = "${var.tag_name}"
  }
}
