# Creates an RDS Instance

resource "aws_db_instance" "main" {
  allocated_storage         = "${var.allocated_storage}"
  availability_zone         = "${var.availability_zone}"
  backup_retention_period   = "${var.backup_retention_period}"
  backup_window             = "${var.backup_window}"
  count                     = "${var.count}"
  db_subnet_group_name      = "${var.db_subnet_group_name}"
  engine                    = "${var.engine}"
  engine_version            = "${var.engine_version}"
  final_snapshot_identifier = "${var.final_snapshot_identifier}"
  identifier                = "${var.identifier}"
  instance_class            = "${var.instance_class}"
  # kms_key_id
  maintenance_window        = "${var.maintenance_window}"
  multi_az                  = "${var.multi_az}"
  name                      = "${var.name}"
  password                  = "${var.password}"
  parameter_group_name      = "${var.parameter_group_name}"
  port                      = "${var.port}"
  publicly_accessible       = "${var.publicly_accessible}"
  storage_encrypted         = "${var.storage_encrypted}"
  storage_type              = "${var.storage_type}"
  username                  = "${var.username}"
  vpc_security_group_ids    = ["${var.vpc_security_group_ids}"]
}
