terragrunt = {
  # Configure Terragrunt to automatically store tfstate files in an S3 bucket
  remote_state {
    backend = "s3"
    config {
      bucket = "{{ terraform_remote_state.bucket }}"
      encrypt = true
      key = "{{ terraform_service }}/${path_relative_to_include()}/terraform.tfstate"
      lock_table = "terraform-lock-table"
      region = "{{ terraform_remote_state.region }}"
    }
  }
}
